<h1>{{ title }}</h1>
<ul>
    <li *ngFor="let user of users">
        <span>{{user.id}}</span> {{user.name | uppercase }} 
    </li>
</ul>

<div *ngIf="selected">
<hr />
    <label>Name: </label><br />
    <input [(ngModel)]="selected.name" placeholder="nombre"><br />
    <label>Name: </label><br />
    <textarea [(ngModel)]="selected.name" placeholder="nombre"></textarea><br />
    <label>Address: </label><br />
    <input [(ngModel)]="selected.address" placeholder="direccion"><br />
    <label>Phone: </label><br />
    <input [(ngModel)]="selected.phone" placeholder="telefono"><br />
</div>