<h1>{{ calculadora }}</h1>
<ul>
    <li *ngFor="let ride of rides">
       <span>{{ride.airport}}</span> {{ride.app | uppercase }}
       
</ul>

<div *ngIf="selected">
<BODY>          
    <H2>Calculadora</H2>
    <TABLE border="1">
      <TR><TD>
        <TABLE>
          <TR >
            <TD colspan="2" align="left"><INPUT type="submit" value="Enviar"><TD colspan="2" align="left"><INPUT type="submit" value=""><TD colspan="2" align="left"><INPUT type="submit" value="Enviar">
          </TR>
        </TABLE>
      </TD></TR>
    </TABLE>
    <HR>
   <!-- <button [(ngModel)]="selected.airport" placeholder="airport"></button><br />
    <label>Name: </label><br />
    <textarea [(ngModel)]="selected.name" placeholder="nombre"></textarea><br />
    <label>Address: </label><br />
    <input [(ngModel)]="selected.address" placeholder="direccion"><br />
    <label>Phone: </label><br />
    <input [(ngModel)]="selected.phone" placeholder="telefono"><br />
    -->
</div>