*{
	margin: 0px;
	padding: 0px;

}

header, section, footer, aside, nav, article, figure, figcaption,hgroup{
	display: block;

}

article{
	background: #FFFBBC;
	border: 1px solid #F0F8FF;
	padding: 20px;
	margin-bottom: 15px;
	border-radius: 20px;

}

article footer{
text-align: right;

}

time{
	color: #999999;
}

figcaption{
	font: italic 14px verdana, sans-serif;

}
h1{
	font: bold 20px verdana, sans-serif;
}

h2{
	font: bold 14px verdana, sans-serif;
}

#estructura {

	width: 90%;
	margin: 15px auto;
	text-align: left;
}

body{
	text-align: center;
}
#encabezado{
background: #00FFFF;
border: 1px solid #999999;
padding: 20px;
border-radius: 20px;

}
#menu {
	background: #00FFFF;
	padding: 5px 15px;
	border-radius: 20px;
	border: 1px solid #999999;
}
#menu li {
display: inline-block;
list-style: none;
padding: 5px;
font: bold 14px verdana, sans-serif;
border: 1px solid #999999;
border-radius: 20px;


}

#seccion{
width: 70%
margin: 20px;
float: left;
}
#columna{
width: 20%
margin 20px 0px;
float: right;
padding: 20px;
background: #6495ED;
border-radius: 20px;
}

#pie{
	clear: both;
	background: #6495ED;
	text-align: center;
	padding: 20px;
	border-top: 2px solid #999999;
	border-radius: 20px;
}
.ir-arriba{
	display:none;
	padding: 20px;
	background: #024959;
	font-size: 20px;
	color: #fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}


	@media screen and (min-width: 0px) and (max-width: 480px){
		body{
	color: red;
	}
}

 	@media  screen and (min-width: 481px) and (max-width: 765px) {
    body {
       color: green;
    }
}

@media  screen (min-width: 766px) and (max-width: 991px) {
    body {
        color: blue;
    }
}

@media screen and (min-width: 992px){
    body {
        color: orange;
    }
}




